.a {
    background-color: lightgreen;
}

.b {
    background-color: lightblue;
}

.c {
    background-color: lightgray;
}

.d {
    background-color: lightpink;
}

.i {
    background-color: lightseagreen;
}

.firstquarters .e {
    background-color: maroon;
}

.f {
    background-color: burlywood;
}

.secondquarters .g {
    background-color: mediumaquamarine;
}

.h {
    background-color: lightyellow;
}